<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="stylesheets/goldfish.css" />
	<title></title>
</head>
<body id="main_body" style="text-align:center;font-size:1em"/>

	<img src="images/logo_2x.png" class="logo">
	<br>
		<a href="form?id=createComp">הוספת חברה</a>
	<br>
		<a href="form?id=createUser">הוספת עובד</a>
	<br>
		<a href="form?id=createReality">הזמנת מציאות</a>
	<br>
		<a href="form?id=findAndDelete">מחק רשומות</a>
	<br>
</body>
</html>